.delContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 40px 20px ;
    padding-bottom: 0;
}
